<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>China DCO Internal Portal</title>
<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/jquery-ui.js"></script>
<script type="text/javascript" src="/js/main.js"></script>

<link rel="stylesheet" type="text/css" href="/css/jquery-ui.css"/>
<link rel="stylesheet" type="text/css" href="/css/styles.css"/>
<link rel="stylesheet" type="text/css" href="/css/icon.css"/>

<style type="text/css">
body {
	font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
	font-size: 14px;
}

#tbl_new_receiving_item {
	border: solid black;
	border-width:0px 0px 0px 0px;
	text-align:center;
}
#tbl_new_receiving_item > thead > tr > th{border:solid black; border-width:1px 1px 1px 1px;}
#tbl_new_receiving input {width:400px;}

.notnull {}
</style>

<script type="text/javascript">
$(function(){
	initMemberList();
});

function moveToRight() {
	$("#left_name_list option:selected").clone().appendTo("#right_name_list");
	$("#left_name_list option:selected").remove();
}

function moveToLeft() {
	$("#right_name_list option:selected").clone().appendTo("#left_name_list");
	$("#right_name_list option:selected").remove();
}

function initMemberList() {
	var $lurl = "/cgi/dispatcher.cgi?action=UserService/getAllUserName";
	//var $rurl = "/cgi/dispatcher.cgi?action=GroupsService/getMemberListByGroup";
	var $lcont = "";
	var $rcont = "";
	
	$.getJSON($lurl, function(result){
		if(result.status == "OK") {
			result = result.message;
			var $len = result.length;
			for(i = 0; i < $len; i++) {
				$lcont += '<option value="' + result[i].Username + '">' + result[i].Username + '</option>';
			}
			$("#left_name_list").append($lcont);
		}
	});
}

function onSubmitValidate() {
	if(checkNotNullInput()) {
		return false;
	} else {
		var vals = "";
		$("#right_name_list option").each(function(){
			vals += $(this).val() + ",";
		});
		
		var $url = "/cgi/dispatcher.cgi?action=GroupsService/addGroup&" + $("#form_new_group").serialize();
		if(vals != "" && vals != undefined) {
			$url += ("&Member=" + vals);
		}
		$.get($url).done(function(data){
			$("body").html(data);
		});
	}
}
</script>
</head>

<body style="margin: 10px">
<form id="form_new_group" method="post" action="/test.cgi">
	<table>
		<tr>
			<td style="width:120px">
				Group Name <font color="red">*</font>
			</td>
			<td>
				<input class="notnull" title="Group Name" style="width:160px" type="text" name="Name" />
			</td>
		</tr>
		<tr>
			<td style="width:120px">
				Description 
			</td>
			<td>
				<input style="width:160px" type="text" name="Description" />
			</td>
		</tr>
		<tr style="margin-top:10px">
			<td style="width:120px">
				Member List
			</td>
			<td>
				<select id="left_name_list" style="width:160px" multiple="multiple">
				</select>
			</td>
			<td>
				<input id="btn_to_right" onclick="moveToRight()" type="button" value=">>" />
				<br>
				<input id="btn_to_left" onclick="moveToLeft()" type="button" value="<<" />
			</td>
			<td>
				<select name="Member" id="right_name_list" style="width:160px" multiple="multiple">
					
				</select>
			</td>
		</tr>
	</table>
	
	<input type="button" value="Submit" onclick="onSubmitValidate()" />
</form>
</body>
</html>