<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>China DCO Internal Portal</title>
<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/main.js"></script>
<script type="text/javascript">
$(function(){
	var $id = getQueryString('id');
	getTodo($id);
});

function getTodo(id) {
	var $url = "/cgi/dispatcher.cgi?action=TodoService/getTodoById&id=" + id;
	$.getJSON($url, function(result){
		if(result.status == "OK") {
			var hurl = result.message[0].URL;
			window.location.href=hurl;
		}
	});
}

</script>
</head>

<body>
</body>
</html>